<header id="transactions-header" class="sticky top-0 h-[72px] bg-primaryBg flex items-center justify-between px-[36px]">
  <div class="flex items-center justify-between w-full h-full">
    <h1 class="text-[32px] font-bold">Transactions</h1>

    <div class="flex gap-[12px]">
      <!-- Add Transaction -->
      <a
        href="{% url 'core:add_transaction' %}"
        class="text-[16px] px-[12px] py-[8px] font-semibold rounded-md bg-accent text-white hover:bg-opacity-70 transition"
      >
        + Add transaction
      </a>
    </div>
  </div>
</header>